<html>
    <title>CryWS</title>
    <body>
        <h1 style="margin-bottom: 5px">Cry WS</h1>
        <h2>Version 4.12.18</h2>
        <h2><a href="https://docs.google.com/spreadsheets/d/1qXtyxvh_YKK7oULSX_mneJ5GvCK80Lb9dOKawcWMA0Q/edit?usp=sharing">API's documents</a></h2>        
        <br>
        <h3>Descriptions: A webservice provides infomation of cryptocurrencies</h3>
        <h3>●Supported coins: 200</h3>
        <h3>●Supported platforms: 6</h3>
        <ul>
            <li>Windows</li>
            <li>Linux</li>
            <li>Android</li>
            <li>iOS</li>
            <li>Web</li>
            <li>Embedded System</li>
        </ul>
        <h5>Copyright © 2018 CryWS. All Rights Reserved</h5>
    </body>
</html>